.slider {
    position: absolute;
}
.slider div, .slider div:hover, .slider .av {
    position: absolute;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.slider div { background-position: -5px -5px; }
.slider div:hover, .slider .av:hover { background-position: -35px -5px; }
.slider .av { background-position: -65px -5px; }
.slider .dn, .slider .dn:hover { background-position: -95px -5px; }

.LArrow, .RArrow {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url( ../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.LArrow { background-position: -3px -33px; }
.RArrow { background-position: -63px -33px; }
.LArrow:hover { background-position: -123px -33px; }
.RArrow:hover { background-position: -183px -33px; }
.LArrow.LArrowdn { background-position: -243px -33px; }
.RArrow.RArrowdn { background-position: -303px -33px; }

body {
    font-family: 'verdana';
    background-image: url("../img/bg2.jpg");
}
.header-main{
     font-size: 12vw;
     width: 100%;
     color: #0b0b6d;

}

nav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
}

nav li {
    display: inline-block;
    zoom:1;
    *display:inline;
}

nav ul {
    padding: 0px;
}

nav a {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #595966;
    border-radius: 5px;
    text-decoration: none;
    vertical-align:middle; 
    text-indent: 10px;
    color: #0b0b6d;
}

a:hover {
    border-width: 3px;
    box-shadow: 2px 2px 1px #888888;

}

nav a#pull {
    display: none;
}

.right {
    float: right;
    padding: 2px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

#container {
    margin: auto;
    width: 100%;
}

aside {
    float: left;
    width: 20%;
}

#content {
    float: left;
    width: 80%;
}

.thumb_box {
        width: 40%;
        float: left;
}

.thumb_box img{
    width: 100%;
    margin: 5px;
    margin-top: 15px;
}

.content_box section {
    width: 55%;
    float: left;
    padding-left: 10px;
}

.content_box section p{
    text-align: justify;
}

.content_holder{
    border-width: 2px;
    border-style: solid;
    border-color: #0b0b6d;
    border-radius: 5px;
    overflow:auto;
    margin: 10px;
    padding: 5px;
    min-width: 210px;
}

.content_box{
    float: left;
    width: 48.5%;
    height: 195px;
    word-wrap: break-word;
    overflow: hidden;
    box-shadow: 2px 2px 3px #888888;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-left: 6px;
    position: relative;
}

.content_box:hover{
    box-shadow: 3px 3px 5px #5B5884;
}

#search {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    color: #bebebe;
    width: 350px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    margin-left: 1%;
    margin-right: 1%;
}

#search:focus {
    width: 480px;
}

#search_box {
    text-align:right; 
    margin: 10px; 
    padding-top: 10px;
}

.image {
    width: 50%;
    margin: 5px;
    float: right;
}

.text p {
    text-align: justify;
}

@media screen and (max-width: 480px) {
    nav a#pull {
        display: block;
        padding: 0px;
        color: #0b0b6d;
        box-shadow: none;
    }
    nav div {
        border-width: 2px;
        border-style: solid;
        border-color: #595966;
        border-radius: 5px;
        height: auto;
        width: 98%;
        margin: auto;
    }

    nav div#menu{
        border:none;
        margin-bottom: 5px;
        padding: 4px 5px;
        width: auto;

    }

    nav a#pull:after {
        content:"";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        left: 73%;
        top: 10px;
    }

    nav ul {
        display: none;
        height: auto;
        margin-bottom: 0px;
    }

    nav {
    width: auto;
    }

    nav li {
        display: block;
        width: 100%;
        border-width: 2px;
        border-style: solid;
        border-color: #595966;
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 4px 0px;
        float: none;
    }

    nav a {
        padding: 10px 0 10px 0;
        border: none;
        font-weight: bold;
        width: 100%;
        display: inline-block;
    }

    .right{
        float: none;
        padding: 4px 0px;
    }

    .content_box{
        width: 99%;
        height: 120px;
    }

    #search {
        width: 88%;
        margin:auto;
        display: block;
    }

    #search:focus{
        width: 88%
    }

    #search_box {
    text-align:center; 
    }

    aside {
    float: none;
    width: 100%;
    }

    #content {
        float: none;
        width: 100%;
    }

    .image {
        width: 100%;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {

    nav li {
        width: 48%;
        padding: 0px;
        margin-right: 2px;
    }

    nav a {
        display: block;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .right{
        float: none;
        width: 31%;
    }

    .content_box{
        width: 99%;
    }

    aside {
    float: none;
    width: 100%;
    }

    #content {
        float: none;
        width: 100%;
    }

    #search {
        width: 88%;
        margin:auto;
        display: block;
    }

    #search:focus{
        width: 88%
    }

    #search_box {
    text-align:center; 
    }


}

@media screen and (min-width: 768px) and (max-width: 979px) {
    .content_box{
        width: 99%;
    }

    aside {
        float: left;
        width: 30%;
    }

    #content {
        float: left;
        width: 70%;
    }
}     
