.slider {
    position: absolute;
}
.slider div, .slider div:hover, .slider .av {
    position: absolute;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.slider div { background-position: -5px -5px; }
.slider div:hover, .slider .av:hover { background-position: -35px -5px; }
.slider .av { background-position: -65px -5px; }
.slider .dn, .slider .dn:hover { background-position: -95px -5px; }

.LArrow, .RArrow {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url( ../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.LArrow { background-position: -3px -33px; }
.RArrow { background-position: -63px -33px; }
.LArrow:hover { background-position: -123px -33px; }
.RArrow:hover { background-position: -183px -33px; }
.LArrow.LArrowdn { background-position: -243px -33px; }
.RArrow.RArrowdn { background-position: -303px -33px; }

.header-main{
     font-family: 'verdana';
     font-size: 12vw;
     width: 100%;
     color: #0b0b6d;

}

nav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
}

nav li {
    display: inline-block;
    zoom:1;
    *display:inline;
}

nav ul {
    padding: 0px;
}

nav a {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #595966;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'verdana';
    vertical-align:middle; 
    text-indent: 10px;
    color: #0b0b6d;
}

a:hover {
    border-width: 3px;

}

nav a#pull {
    display: none;
}

.right {
    float: right;
    padding: 2px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


@media screen and (max-width: 510px) {
    nav a#pull {
        display: block;
        padding: 0px;
        color: #0b0b6d;
    }
    nav div {
        border-width: 2px;
        border-style: solid;
        border-color: #595966;
        border-radius: 5px;
        height: auto;
        width: 100%;
    }

    nav div#menu{
        border:none;
        margin-bottom: 5px;
        padding: 4px 5px;
        width: auto;

    }

    nav a#pull:after {
        content:"";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        left: 75%;
        top: 10px;
    }

    nav ul {
        display: none;
        height: auto;
        margin-bottom: 0px;
    }

    nav {
    width: auto;
    }

    nav li {
        display: block;
        width: 100%;
        border-width: 2px;
        border-style: solid;
        border-color: #595966;
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 4px 0px;
        float: none;
    }

    nav a {
        padding: 10px 0 10px 0;
        border: none;
        font-weight: bold;
        width: 100%;
        display: inline-block;
    }

    .right{
        float: none;
        padding: 4px 0px;
    }
}        
